<article class="internship" editing="false" id="internship_<%= internship.id %>">
	<%= form_for internship, :remote => true do |f| %>
		<% present internship do |presenter| %>
			<header> <%= presenter.link_to_header %> </header>
			<div class="release-date"> <%= presenter.release_date %> </div>
			<div class="division"><div class="line"></div></div>
			<div class="fields">
				<%= presenter.fields %>
			</div>
			<div class="description">
				<%= presenter.description %>
			</div>
			<div class="comments-count">
				<%= presenter.link_to_comments %>
			</div>
			<% presenter.edit_link do %>
				<div class="time_ago_in_words">
					<%= time_ago_in_words(internship.created_at) %> atr&aacute;s
				</div>
				<a class="edit">editar</a>
				<a class="save" style="display: none">salvar</a>
			<% end %>
		<% end %>
	<% end -%>
</article>