<!DOCTYPE html>
<html>
<head>
  <title>Wak - Seu próximo estágio, você encontra aqui!</title> 
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "jquery", "jquery-ui", "jquery.sausage" %>
  <script type="text/javascript">
	  var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-25307154-1']); _gaq.push(['_trackPageview']);
	  (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
  </script>
</head>
<body>

	<div class="left-content">
		<div class="tag"></div>
		<a href="<%= root_path %>"><div class="logo"></div></a>
		<div id="txt-search"> 
			<%= form_tag internships_path, :method => :get, :id => "query-form" do %>
				<div class="magnifier"></div>
				<div class="erase-btn" style="display: none"></div>
				<input type="text" name="query" value="<%=params[:query]%>" id="query" autocomplete="off">
			<% end -%>
		</div>
		<input type="button" id="btn-new-internship"/>
		<div class="footer">
			Desenvolvido por <a href="http://about.celsodantas.com" class="no-decoration">celsodantas.com</a>. Todos os direitos reservados  @ 2011<br/>
			Em caso de dúvidas/problemas entre em <a href="mailto:celsodantas@gmail.com">contato</a>
		</div>
		<div class="arrow"></div>
	</div>
	

	<div class="right-content">
		<div class="pad"></div>
		<div class="content">
			<%= yield %>
		</div>
	</div>
	
	<%= render 'form'%>

</body>
</html>
